* {
    box-sizing: border-box;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 22px;
}

p {
    font-size: 18px;
}

hr {
    border: none;
    border-bottom: rgba(0, 0, 0, 0.507) dashed 2px;
}

:root {
    --layer0: rgb(48, 21, 21);
    --layer1: var(--super-dark);
    --layer2: rgb(65,65,65);

    --light-paper: rgb(211, 184, 149);
    --dark-paper: rgb(199, 141, 103);
    --super-dark: rgb(48,21,21);

    --text-color: white;
}

#root > div{
    min-height: 100vh;
    display: flex;
    font-family: 'Neucha', cursive;
    flex-direction: column;
    /* align-items: center; */
    background: var(--layer0);
    color: var(--text-color);
}

main {
    width: 80%;
    flex: 1;
    align-self: center;
    display: flex;
    flex-direction: column;
    padding: 15px;

    transition: width .15s;

    background: var(--layer1);
}

footer {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 800px) {
    main {
        width: 100%;
    }

    article {
        flex: 2;
    }
}

@media only screen and (max-width: 600px) {
    #entry {
        flex-direction: column-reverse;
    }

    #cryptid-portrait {
        position: initial;
        max-width: initial;
        /* max-height: 200px; */
    }

    #cryptid {
        max-width: initial;
        max-height: 200px;
    }
}