#account {
    background: var(--light-paper);
    display: flex;
    flex-direction: column;
    flex: 1;
    color: black;
    padding: 10px;
}

#logout {
    background: rgb(230,230,230);
    padding: 5px;
    border-radius: 15px;
    align-self: baseline;
}

#author-cryptids {
}

#author-cryptids a {
    padding: 15px;
    display: block;
    font-size: 20px;
}

#author-cryptids :nth-child(2n-1) {
    background: var(--dark-paper);
}