#account {
    background: var(--light-paper);
    display: flex;
    flex-direction: column;
    flex: 1;
    color: black;
    padding: 10px;
}

#logout {
    background: rgb(230,230,230);
    padding: 5px;
    border-radius: 15px;
    align-self: baseline;
}